<h1> password reset </h1>

<p>Click the link below to reset your password</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>
<p> this link will expire in two hours. </p>

